<!DOCTYPE html>
<html>
  <head>
    <!-- <link type="text/css" rel="stylesheet" href="stylesheets/style.css"/> -->
  </head>
  <body>
    <h1> Welcome to WhirlyBird! </h1>
    <form method="post" action ="">
        <p>Choose a color:
          <select name="color">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
          </select>
        </p>

        <p>Choose a number:
          <select name="number">
            <option value=1>One</option>
            <option value=2>Two</option>
            <option value=3>Three</option>
            <option value=4>Four</option>
          </select>
        </p>

        <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
