@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Lobster);


body {
  background-image: url("white-flowers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lobster', cursive;
  background-color: white;
  font-size: 20px;
  width: 500px;
  height: 50px;
  color: black;
  padding: 20px 20px 30px 400px;

}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  border: 4px solid black;
  padding: 20px 20px 20px 20px;

}

img {
  padding-left: 190px;
}
/* id */
#placetag {
  color: black;
}
/* class */
.bluetext {
  color: black;
}
/* selector {property: value;} */
